
@font-face {
  font-family: 'GidoleRegular';
  src: url('./fonts/GidoleRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GidolinyaRegular';
  src: url('./fonts/GidolinyaRegular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

* {
	margin: 0;
	padding: 0;
	font-weight: normal;
	text-decoration: none;

	transition: all 0.5s ease-out;
}

body {
	font-family: OrkneyRegular, GidoleRegular, Gidole, Sans-Serif;
	font-size: 11pt;

	text-align: center;

	/*background: #333 url("binding_dark/binding_dark.png");*/
	background: #FFF;
	color: #000;
}

html, body {
}

#menu {
  display: inline-block;
  position: relative;
  width: 100%;
	text-align: right;
	top: 15px;
	min-height: 50px;
  max-height: 50px;
}

#lang {
	text-align: left;

	margin-left: 35%;
	padding-left: 40px;
	margin-right: 30%;
	margin-top: 10px;
	margin-bottom: -40px;
}
#lang li {
	display: inline-block;
	list-style-type: none;
	margin: 4px;
} #lang li a {
	padding: 4px; /* making links bigger! */
	color: #5BF;
} #lang li a:hover {
	color: #A7D;
}

#content {
	text-align: left;
	min-height: 100vh;
	width: 100%;
	padding-bottom: 80px;
}

#menu li {
	display: inline-flex;
	position: relative;
	overflow: hidden;
	text-align: center;
	font-size: 16pt;
	margin-right: 5px;
}

#menu li:empty {
	display: none;
}

#menu li a {
	color: rgba(0, 0, 0, 0.7);
	padding: 5px;
	margin-top: -25%;
	margin-left: 0%;
}

/* Small squares */
#menu li:nth-child(6), #menu li:nth-child(7) {
}

/* Very small squares */
#menu li:nth-child(8), #menu li:nth-child(9) {
	height: 35px;
	line-height: 35px;
	font-size: 16pt;
}

/* Shadows */
#menu li {
	box-shadow: 1px 1px 3px #666;
} #menu li:hover {
	box-shadow: 1px 1px 3px #000;
}

/* blue */
#menu li:nth-child(1) {
	background-color: #5BF;
} #menu li:nth-child(1) a {
} #menu li:nth-child(1):hover {
	background-color: #5BF;
}

/* purple */
#menu li:nth-child(2) {
	background-color: #A7D;
} #menu li:nth-child(2) a {
} #menu li:nth-child(2):hover {
	background-color: #A7D;
}

/* cyan */
#menu li:nth-child(3) {
	background-color: #5AA;
} #menu li:nth-child(3) a {
} #menu li:nth-child(3):hover {
	background-color: #5AA;
}

/* green */
#menu li:nth-child(4) {
	background-color: #AB5;
} #menu li:nth-child(4) a {
} #menu li:nth-child(4):hover {
	background-color: #AB5;
}

/* red */
#menu li:nth-child(5) {
	background-color: #B55;
} #menu li:nth-child(5) a {
} #menu li:nth-child(5):hover {
	background-color: #B55;
}

/* yellow */
#menu li:nth-child(6) {
	background-color: #DB5;
} #menu li:nth-child(6) a {
} #menu li:nth-child(6):hover {
	background-color: #DB5;
}

/* orange */
#menu li:nth-child(7) {
	background-color: #C74;
} #menu li:nth-child(7) a {
} #menu li:nth-child(7):hover {
	background-color: #C74;
}

/* grey */
#menu li:nth-child(8) {
  font-size: 12pt;
  line-height: 12pt;
	background-color: #888;
  overflow: hidden;
} #menu li:nth-child(8) a {
} #menu li:nth-child(8):hover {
	background-color: #888;
}

/* white */
#menu li:nth-child(9) {
	background-color: #AAA;
} #menu li:nth-child(9) a {
} #menu li:nth-child(9):hover {
	background-color: #AAA;
}

/* Actual body/content style */

#content h1:first-child {
	padding-top: 100px;
	margin-top: 0px;
	border-bottom: 1px solid #888;
	margin-bottom: 20px;
	margin-left: 40px;
	margin-right: 40px;

	font-size: 45pt;
} #content h3#date, #content h3#version {
	margin-top: -10px;
	text-align: right;
} #content h3.author {
	margin-top: 0;
	text-align: right;
}

#content ul {
	margin-left: 40px;
	margin-right: 40px;
} #content li {
	margin-bottom: 6px;
	margin-top: 6px;
	margin-left: 36px;
	list-style-type: "—  ";
}

#content {
	font-size: 15pt;
} #content h1 {
	font-size: 46pt;
	padding: 0 50px;
	margin-top: 32px;
	margin-left: 0px;
	margin-right: 0px;
} #content h2 {
	font-size: 34pt;
	padding: 0 50px;
	margin-top: 32px;
	margin-left: 0px;
	margin-right: 0px;
} #content h3 {
	font-size: 27pt;
	padding: 0 50px;
	margin-top: 24px;
	margin-left: 0px;
	margin-right: 0px;
} #content h4 {
	font-size: 23pt;
	padding: 0 50px;
	margin-top: 16px;
	margin-left: 0px;
	margin-right: 0px;
} #content .header-section-number:after, .toc-section-number:after {
} #content .header-section-number, .toc-section-number {
	font-family: GidolinyaRegular, Gidolinya, Monospace;
} #content .header-section-number {
	display: inline-block;
	min-width: 100px;
} #content p, #content dl, #content pre, #content pre code {
	margin: 20px;
	padding: 0 30px;
	display: block;
} #content pre code {
	font-family: "Fira Code", "Fira Mono", Monospace;
} #content > table, #content > ul, #TOC > ul, #content > ol {
	margin-right: 80px;
	margin-left: 80px;
	width: calc(100% - 180px);
} #content table {
	border-top: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
	margin-top: 16px;
	margin-bottom: 8px;
} #content table caption {
	color: #222;
	text-align: left;
	padding: 0 20px;
} #content table td {
	padding: 3px 6px;
} #content table thead th {
	font-weight: bold;
	padding: 8px 16px;
} #content table thead tr {
	border-bottom: 1px solid #CCC;
} #content hr {
	margin: 10px;
	border: none;
	text-align: center;
} #content hr:before {
	content: "⁂";
	color: #888;
}

#content pre code, #content dl dd {
	position: relative;
	line-height: 1em;
	min-height: 2em;
} #content pre, #content pre code, #content dl dd {
} #content pre code:before, #content dl dd:before {
	font-family: GidolinyaRegular, Gidolinya, Monospace;
	display: inline-block;
	position: absolute;
	left: 0;
	top: 0;

	padding: 10px 5px;
	background-color: #BBB;
	color: #FFF;
	font-size: 200%;

	width: 0.7em;
	text-align: center;
	vertical-align: middle;

	border: 2px solid #EEE;
} #content pre code:before {
	content: "#";
	margin-left: -20px; /* … */
} #content dl dd:before {
	content: "Ð";
}

#content dl {
	margin-bottom: 10px;
} #content dl dt {
	color: #268C73;
	margin-bottom: -10px;
	margin-top: 10px;
}

#content em {
	color: #268C73;
} #content strong {
	color: #8c263f;
	font-weight: bold;
} #content a {
	color: #778315;
} #content a:hover {
	color: #97A335;

	text-decoration: underline;
}

#TOC {
	margin: 40px;
}

h1#subtitle {
	font-size: 40pt;
	/*border-bottom: 1px solid #888;*/
	margin-left: 40px;
	margin-right: 40px;
} div#abstract {/*
	margin-left: 60px;
	border-left: 4px solid #CCC;*/
	padding: 8px 0;
	margin-top: 16px;
	background: #EEE;
} #abstract > p {
	/*padding-left: 0;*/
} h3#addressee {
	color: #888;
	margin-top: 0;
	text-align: right;
	/*
	margin-left: 40px;
	margin-right: 40px;*/
}

@media (max-width:360px){
  #menu {
    min-height: 90px;
    text-align: center;
  }
  #content {
    position: relative;
    font-size: 12pt;
    width: 100%;
    padding: 0;
    margin: 0;
  }
  #content h1:first-child {
    font-size: 18pt;
    text-align: center;
    height: 1em;
    margin: 0;
    padding: 0;
  }
}

@media (min-width: 1024px) {
  #menu {
    position: fixed;
    top: 25px;
    right: 61%;
    min-height: 670px;
    height: 100%;
    text-align: right;
  }

  #content {
    margin-left: 32%;
    padding-left: 40px;
    width: auto;
    max-width: 1024px;
  }

  #menu li:empty {
    display: unset;
  }

  #menu li {
    width: 135px;
    height: 135px;
    position: absolute;
    display: inline-block;
    overflow: hidden;

    -ms-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);

    background-color: rgba(60, 60, 60, 0.4);

    font-size: 24pt;
  }

  #menu li a {
    display: block;
    width: 150%;
    height: 150%;
    color: rgba(0, 0, 0, 0.7);
    padding-top: 50%;
    margin-top: -25%;
    margin-left: 0%;

    -ms-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);

  }

  #menu li:hover a {
  }

  #menu li:hover {
    border-color: #FFF!important;
  }

  /* Small squares */
  #menu li:nth-child(1), #menu li:nth-child(3),
  #menu li:nth-child(6), #menu li:nth-child(7) {
    width: 100px;
    height: 100px;
  }

  /* Very small squares */
  #menu li:nth-child(8), #menu li:nth-child(9) {
    width: 70px;
    height: 70px;
    font-size: 16pt;
  }

  /* blue */
  #menu li:nth-child(1) {
    top: 30px;
    right: 200px;
  } #menu li:nth-child(1) a {
  } #menu li:nth-child(1):hover {
  }

  /* purple */
  #menu li:nth-child(2) {
    top: 100px;
    right: 70px;

  } #menu li:nth-child(2) a {
  } #menu li:nth-child(2):hover {
  }

  /* cyan */
  #menu li:nth-child(3) {
    top: 170px;
    right: 235px;
  } #menu li:nth-child(3) a {
  } #menu li:nth-child(3):hover {
  }

  /* green */
  #menu li:nth-child(4) {
    top: 265px;
    right: 130px;

  } #menu li:nth-child(4) a {
  } #menu li:nth-child(4):hover {
  }

  /* red */
  #menu li:nth-child(5) {
    top: 425px;
    right: 195px;
  } #menu li:nth-child(5) a {
  } #menu li:nth-child(5):hover {
  }

  /* yellow */
  #menu li:nth-child(6) {
    top: 395px;
    right: 60px;
  } #menu li:nth-child(6) a {
  } #menu li:nth-child(6):hover {
  }

  /* orange */
  #menu li:nth-child(7) {
    top: 530px;
    right: 100px;
  } #menu li:nth-child(7) a {
  } #menu li:nth-child(7):hover {
  }

  /* grey */
  #menu li:nth-child(8) {
    top: 245px;
    right: 35px;
  } #menu li:nth-child(8) a {
  } #menu li:nth-child(8):hover {
  }

  /* white */
  #menu li:nth-child(9) {
    top: 345px;
    right: 295px;
  } #menu li:nth-child(9) a {
  } #menu li:nth-child(9):hover {
  }

}

@media (min-width: 1200px) {
  #menu {
    right: 65%;
  }
}

@media print {
	#menu, #lang {
		display: none;
	}

	#content {
		margin-left: -20px;
		margin-right: -20px;
		font-size: 12pt;
	}
}
