
@import url("https://fontlibrary.org/face/gidole-regular");

* {
	margin: 0;
	padding: 0;
	font-weight: normal;
	text-decoration: none;

	transition: all 0.5s ease-out;
}

body {
	font-family: GidoleRegular, Sans-Serif;
	font-size: 13pt;

	text-align: center;

	/*background: #333 url("binding_dark/binding_dark.png");*/
	background: #FFF;
	color: #000;
}

html, body {
}

#menu {
	text-align: right;

	position: fixed;
	top: 25px;
	right: 65%;

	min-height: 670px;
	height: 100%;
}

#content {
	margin-left: 35%;

	text-align: left;

	padding-left: 40px;

	min-height: 100vh;
	max-width: 1024px;
}

#menu li {
	width: 135px;
	height: 135px;
	display: inline-block;

	text-align: center;

	position: absolute;

	-ms-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-o-transform: rotate(45deg);

	background-color: rgba(60, 60, 60, 0.4);

	font-size: 24pt;
}

#menu li a {
	display: block;
	width: 100%;
	height: 100%;
	color: rgba(0, 0, 0, 0.7);
	/*text-shadow: 0 0 2px #000;*/
	/*box-shadow: inset 0 0 1px #000;*/
} #menu li:hover a {
} #menu li:hover {
	border-color: #FFF!important;
}

/* Small squares */
#menu li:nth-child(1), #menu li:nth-child(3),
#menu li:nth-child(6), #menu li:nth-child(7) {
	width: 100px;
	height: 100px;
}

/* Very small squares */
#menu li:nth-child(8), #menu li:nth-child(9) {
	width: 70px;
	height: 70px;
	font-size: 16pt;
}

/* Opposite angle squares */
#menu li:nth-child(1), #menu li:nth-child(4),
#menu li:nth-child(6), #menu li:nth-child(7),
#menu li:nth-child(9) {
	-ms-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
}

/* Shadows */
#menu li {
	box-shadow: 1px 1px 3px #666;
}
#menu li:nth-child(1), #menu li:nth-child(4),
#menu li:nth-child(6), #menu li:nth-child(7),
#menu li:nth-child(9) {
	box-shadow: -1px 1px 3px #666;
}

#menu li:hover {
	box-shadow: 1px 1px 3px #000;
}
#menu li:hover:nth-child(1), #menu li:hover:nth-child(4),
#menu li:hover:nth-child(6), #menu li:hover:nth-child(7),
#menu li:hover:nth-child(9) {
	box-shadow: -1px 1px 3px #000;
}

/* blue */
#menu li:nth-child(1) {
	top: 30px;
	right: 200px;

	background-color: #5BF;
} #menu li:nth-child(1) a {
} #menu li:nth-child(1):hover {
	background-color: #5BF;
}

/* purple */
#menu li:nth-child(2) {
	top: 100px;
	right: 70px;

	background-color: #A7D;
} #menu li:nth-child(2) a {
} #menu li:nth-child(2):hover {
	background-color: #A7D;
}

/* cyan */
#menu li:nth-child(3) {
	top: 170px;
	right: 235px;

	background-color: #5AA;
} #menu li:nth-child(3) a {
} #menu li:nth-child(3):hover {
	background-color: #5AA;
}

/* green */
#menu li:nth-child(4) {
	top: 265px;
	right: 130px;

	background-color: #AB5;
} #menu li:nth-child(4) a {
} #menu li:nth-child(4):hover {
	background-color: #AB5;
}

/* red */
#menu li:nth-child(5) {
	top: 425px;
	right: 195px;

	background-color: #B55;
} #menu li:nth-child(5) a {
} #menu li:nth-child(5):hover {
	background-color: #B55;
}

/* yellow */
#menu li:nth-child(6) {
	top: 395px;
	right: 60px;

	background-color: #DB5;
} #menu li:nth-child(6) a {
} #menu li:nth-child(6):hover {
	background-color: #DB5;
}

/* orange */
#menu li:nth-child(7) {
	top: 530px;
	right: 100px;

	background-color: #C74;
} #menu li:nth-child(7) a {
} #menu li:nth-child(7):hover {
	background-color: #C74;
}

/* grey */
#menu li:nth-child(8) {
	top: 245px;
	right: 35px;

	background-color: #888;
} #menu li:nth-child(8) a {
} #menu li:nth-child(8):hover {
	background-color: #888;
}

/* white */
#menu li:nth-child(9) {
	top: 345px;
	right: 295px;

	background-color: #AAA;
} #menu li:nth-child(9) a {
} #menu li:nth-child(9):hover {
	background-color: #AAA;
}

/* Actual body/content style */

#content h1:first-child {
	padding-top: 100px;
	border-bottom: 1px solid #888;
	margin-bottom: 20px;

	font-size: 48pt;
}

#content {
	font-size: 22pt;
} #content h1 {
	font-size: 46pt;
	padding: 0 50px;
} #content h2 {
	font-size: 32pt;
	padding: 0 50px;
} #content p {
	margin: 20px;
}

#content ul, #content ol {
	margin-left: 80px;
	margin-right: 20px;
} #content li {
	margin-bottom: 6px;
	margin-top: 6px;
}

#content em {
	color: #268C73;
} #content strong {
	color: #5F9327;
} #content a {
	color: #778315;
} #content a:hover {
	color: #97A335;

	text-decoration: underline;
}

#TOC {
	margin: 40px;
}

