<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet href="$root$/style.css" title="Style par défaut"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" $if(lang)$ xml:lang="$lang$" $else$ lang="fr" $endif$>
	<head>
		$if(index)$
		<title>$pagetitle$</title>
		$else$
		<title>Tartines — $pagetitle$</title>
		$endif$

		<script type="application/javascript" src="index.js"/>
	</head>
	<body>
		<div id="container">
			$if(menu)$
			<ul id="menu">
				<li>
					<a href="$root$/index.fr.xhtml">
						Accueil
					</a>
				</li>

				<li>
					<a href="$root$/texts.fr.xhtml">
						Textes
					</a>
				</li>

				<li>
					<a href="$root$/todo.fr.xhtml">
						À faire
					</a>
				</li>

				<li>
					<a href="$root$/projects.fr.xhtml">
						Projets
					</a>
				</li>

				<li>
					<a href="$root$/jabber.fr.xhtml">
						Jabber
					</a>
				</li>

				<li>
					<a href="$root$/news.fr.xhtml">
						<small>Nouvelles</small>
					</a>
				</li>

				<li>
					<a href="$root$/faq.fr.xhtml">
						FAQ
					</a>
				</li>

				<li>
					<a href="$root$/philosophy.fr.xhtml">
						φ
					</a>
				</li>

				<li>
					<a href="">
					</a>
				</li>
			</ul>
			$endif$

			$for(include-before)$
			$include-before$
			$endfor$

			$if(content)$
			<div id="content">
			$endif$

				$if(title)$
				<h1 id="$idprefix$">$title$</h1>
				$endif$

				$if(date)$
				<h3 id="date">$date$</h3>
				$endif$

				$if(toc)$
				$if(show-toc)$
				<div id="$idprefix$TOC">
					$if(toc-title)$
					<h3>$toc-title$</h3>
					$else$
					<h3>Table des matières :</h3>
					$endif$
				$toc$
				</div>
				$endif$
				$endif$

				$body$

			$if(content)$
			</div>
			$endif$

			$for(include-after)$
			$include-after$
			$endfor$

		</div>
	</body>
</html>
